<div class='loginPage'>
    
    <md-whiteframe class="md-whiteframe-z4 loginFrame" layout="column" layout-align="center center">
        <img src="../assets/fb-logo.png" class="fbLogo"></img>
        <h2 class="fbGames">Facebook Games</h2>
    	<h3>Login to begin</h3>
		<br>
		<img src="../assets/facebook-login-button.png" class="fbLogin" ng-click="login()"></img>
		<!--<fb:login-button show-faces="true" max-rows="1" size="large" class="fbLogin"></fb:login-button>-->
    </md-whiteframe>
    
</div>