body html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.loginPage {
    background-image: url('../assets/cityLights.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /*padding-top: 20%;*/
}

.loginFrame {
    background-color: white;
    width: 30%;
    height: 60%;
    min-height: 360px;
    position: absolute;
    top: 20%;
    left: 60%;
    /*margin-top: 20%;*/
    /*margin-left: 45%;*/
}

.fbLogo {
    width: 80%;
}

.fbLogin {
    height: auto;
    width: 60%;
    cursor: pointer;
    margin: 0 auto;
}

.fbGames {
    margin-bottom: 0;
}